<label for="">Company name</label>
<input type="text">


<p>Location</p>
<label for="">Country</label>
<input type="text">

<label for="">Commune</label>
<input type="text">

<label for="">Village</label>
<input type="text">

<p>Providers</p>
<!-- here it will be a list of all providers -->
<ul>
    <li>a</li>
    <li>b</li>
    <button>add providers</button>
</ul>


<p>Delegates</p>
<ul>
    <li>a is delegate for (provider)</li>
    <li>b is delegate for (provider)</li>
    <button>add delegate</button>
</ul>