<div class="navbar">
    <div class="container">
        <div class="logo">
            <a href="#"><strong>RV</strong> Recivio</a>
        </div>
        
        <div class="links">
            <a href="/login" class="">Login</a>
            <a href="\signin" class="">Sing Up</a>
            <a href="aboutus" class="">About Us</a>
            <a href="contact" class="">Contact</a>
        </div>
         
         
        
    </div>
</div>

<div class="middle"> 
    <div class="container">
        
        <p>    Discover the efficiency of our platform for generating receiving notes, essential documents in business
            transactions.
         Streamline the process of acknowledging receipt of goods or services with our intuitive interface,
         ensuring accuracy and clarity in recording crucial details such as items received and their quantities.
        </p>
    </div>
    <div class="box">
        <h1>Welcome to Receivo</h1>
    </div>  
</div>
