<div class="container">
    #fa-mi loginul sa araate asa!
    <form (ngSubmit)="onSubmit()">

        <div class="input">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>

        <div class="input">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>

        <div class="aditionalInfo">
            <p>Don't have an account? <a href="/signin">Sign Up!</a></p>
            <p>Forgot password? <a href="/resetpwd">Reset it.</a></p>
        </div>

        <div class="submit_button">
            <button type="submit">Login</button>
        </div>
    </form>

</div>